{% extends "base.html" %}
{% block content %}

<h3>Mark Attendance</h3>

<form method="POST">
    {% for s in students %}
        <div class="mb-2">
            <strong>{{ s.name }} ({{ s.roll_no }})</strong><br>
            <input type="radio" name="{{ s.id }}" value="Present" required> Present
            <input type="radio" name="{{ s.id }}" value="Absent"> Absent
        </div>
    {% endfor %}

    <button class="btn btn-success mt-3">Submit Attendance</button>
</form>

{% endblock %}